<h2>Add pet</h2>

<form method='post' action='/pets/add-pet'>
  <label for='name'>name</label>
  <input name='name' />
  <br />
  <label for='age'>age</label>
  <input name='age' />
  <br />
  <label for='likesVet'>likesVet</label>
  <label>true</label>
  <input type='radio' name='likesVet' value='true' />
  <label>false</label>
  <input type='radio' name='likesVet' value='false' />
  <br />
  <label for='animal'>animal</label>
  <label>cat</label>
  <input type='radio' name='animal' value='cat' />
  <label>dog</label>
  <input type='radio' name='animal' value='dog' />
  <br />
  <label for='vaccinated'>vaccinated</label>
  <label>true</label>
  <input type='radio' name='vaccinated' value='true' />
  <label>false</label>
  <input type='radio' name='vaccinated' value='false' />
  <br />
  <label for='fixed'>fixed</label>
  <label>true</label>
  <input type='radio' name='fixed' value='true' />
  <label>false</label>
  <input type='radio' name='fixed' value='false' />
  <br />
  <button type='submit'>Add new pet</button>

</form>